{% extends 'doctor/doctor_home.html' %}
{% block body %}
<style type="text/css">
	th{
		background-color: #ff6600;
		color: white;
	}
</style>
<div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">View <span class="text-primary"> Notifications</span></h1>
        </div>
<div class="container" style="padding-top: 50px;">
	
<table border="1" class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Notification</th>
                    <th>Last Date</th>
                    <th>Status</th>
                    <th></th>
                    
                </tr>
                {% for x in var %}
                <tr>
                    <td>{{x.doctor_id.name}}</td>
                    <td>{{x.doctor_id.email}}</td>
                    <td>{{x.notice}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.status}}</td>
                    <td><a href="/doctor_remove_notice/?id={{x.id}}" class="btn btn-success">Remove</a></td>
                    
                </tr>
                {% endfor %}
            </table>
</div>

{% endblock %}