{% extends 'doctor/doctor_home.html' %}
{% block body %}
<div class="container" style="padding-top: 50px;">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h1 class="display-4 m-0">My <span class="text-primary">Profile</span></h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <table border="0" class="table">
                    {% for x in var %}
                    <tr>
                        <th>Name</th><td>: {{ x.name }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>: {{ x.street }}, {{ x.city }}, {{ x.pin }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th><td>: {{ x.phone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th><td>: {{ x.email }}</td>
                    </tr>
                    <tr>
                        <th>Password</th><td>: {{ x.pswd }}</td>
                    </tr>
                    <tr>
                        <th>Role</th><td>: {{ x.utype }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="/doctor_edit_profile/?id={{ x.id }}" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}