{% extends 'contact.html' %}
{% block body %}

 <div class="d-flex flex-column text-center mb-5 pt-5">
            <!-- <h4 class="text-secondary mb-3">Contact Us</h4> -->
            <h1 class="display-4 m-0">Login <span class="text-primary">Now</span></h1>
        </div>
<!-- ❤ -->
 <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
    <div class="contact-form">
    <div id="success"></div>

    <form action="/login/" method="post" id="contactForm" novalidate="novalidate">
    	{% csrf_token %}
       

        <div class="control-group">
        <input type="email" class="form-control p-4" name="email" placeholder="Your Email address" required="required" />
        <p class="help-block text-danger"></p>
        </div>

        <div class="control-group">
        <input type="password" class="form-control p-4" name="pswd" placeholder="Your Password" required="required"/>
        <p class="help-block text-danger"></p>
        </div>

        <div class="login-button">
         <button class="btn btn-primary py-3 px-5" type="submit" >Login</button>
        </div>
        </form>
                </div>
            </div>
        </div>

{% endblock %}