{% extends 'Admin/admin_home.html' %}
{% block body %}
<style type="text/css">
	th{
		background-color: #ff6600;
		color: white;
	}
</style>
<div class="container" style="padding-top: 50px;">
	
<div class="d-flex flex-column text-center mb-5 pt-5">
            <h1 class="display-4 m-0">Add <span class="text-primary">Staff</span></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>

        <form action="/admin_add_staff/" method="post">
        {% csrf_token %}
        <div class="control-group">
        <input type="text" class="form-control p-4" name="name" placeholder="Name" required="required" pattern="[A-Za-z\s]{1,32}" maxlength="32"/>
            <p class="help-block text-danger"></p>
        </div>

        <div class="control-group">
        <input type="text" class="form-control p-4" name="street" placeholder="Street Name" required="required" pattern="[A-Za-z\s]{1,32}" maxlength="32"/>
            <p class="help-block text-danger"></p>
        </div>
         <div class="control-group">
        <input type="text" class="form-control p-4" name="city" placeholder="City" required="required" pattern="[A-Za-z\s]{1,32}" maxlength="32"/>
            <p class="help-block text-danger"></p>
        </div>
         <div class="control-group">
        <input type="text" class="form-control p-4" name="pin" placeholder="Pincode" required="required" pattern="[0-9]{6,6}" maxlength="6"/>
            <p class="help-block text-danger"></p>
        </div>

        <!-- <div class="control-group">
        <textarea class="form-control p-4" rows="6" name="addr" placeholder="Your Address" required="required"></textarea>
        <p class="help-block text-danger"></p>
        </div> -->

        <div class="control-group">
        <input type="text" class="form-control p-4" name="phone" placeholder="Phone Number" required="required" pattern="[0-9]{10,10}" maxlength="10"/>
        <p class="help-block text-danger"></p>
        </div>

        <div class="control-group">
        <input type="email" class="form-control p-4" name="email" placeholder="Email" required="required" />
        <p class="help-block text-danger"></p>
        </div>

        <div class="control-group">
        <input type="password" class="form-control p-4" name="pswd" placeholder="Password" required="required" maxlength="8" minlength="8" />
        <p class="help-block text-danger"></p>
        </div>

        

        <div>
         <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Add Now</button>
        </div>
        </form>
                </div>
            </div>
           
        </div>
</div>

{% endblock %}