{% extends 'staff/staff_home.html' %}
{% block body %}

<div class="d-flex flex-column text-center mb-5 pt-5">
    <!-- <h4 class="text-secondary mb-3">Register form</h4> -->
   <h1 class="display-4 m-0">Send<span class="text-primary"> Needs..</span></h1>
</div>
 <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
    <div class="contact-form">
    <div id="success"></div>

    <form action="/staff_send_needs/" method="post" id="contactForm" novalidate="novalidate">
    	{% csrf_token %}

         <div class="control-group">
            <!-- form-control p-4 .. style="color: black;"-->
         <select name="food" class="custom-select border-0 px-4" style="height: 47px;">
          <option selected disabled="" >Food Details</option>
           {% for x in food %}
            <option value="{{x.id}}">{{x.id}},{{x.food_name}},{{x.food_category}}</option>
           {% endfor %}
            </select>
            </div>
            <br>

        <div class="control-group">
        <textarea class="form-control p-4" rows="6" name="needs" placeholder=" Needs..." required="required"></textarea>
        <p class="help-block text-danger"></p>
        </div>

        <div class="control-group">
        <input type="text" class="form-control p-4" name="qty" placeholder="Quantity" required="required" />
            <p class="help-block text-danger"></p>
        </div>

        

        <div class="control-group">
        <input type="date" class="form-control p-4" name="date" placeholder="Date" required="required" />
        <p class="help-block text-danger"></p>
        </div>
  

        <div>
         <button class="btn btn-primary py-3 px-5" type="submit">Submit Now</button>
        </div>
        </form>
                </div>
            </div>
        </div>

{% endblock %}