{% extends 'staff/staff_home.html' %}
{% block body %}
<div class="container" style="padding-top: 50px;">
	
<div class="d-flex flex-column text-center mb-5 pt-5">
        <h1 class="display-4 m-0">Appoinment <span class="text-primary">Status</span></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <table border="0" class="table">
                    	<tr>
                         <th>Email</th> 
                         <th>Date</th>
                         <th>Time</th>   
                         <th>Animal Details</th>  
                         <th>Doctor Details</th> 
                         <th>Status</th>  
                        </tr>

                        {% for x in var %}

                        <tr>
                            <td>{{x.staff_email}}</td>
                            <td>{{x.date}}</td>
                            <td>{{x.time}}</td>
                            <td>AN{{x.animal_id.id}}<br>{{x.animal_id.name}}</td>
                            <td>{{x.doctor_id.name}}<br>{{x.doctor_id.email}}</td>
                            <td>{{x.status}}</td>

                        </tr>
                    	{% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}